@import url(https://fonts.googleapis.com/css?family=Ubuntu);
*{
    font-family: 'Ubuntu', sans-serif;
}

canvas.square{
    border: 1px solid #004d40;
}


#board{
    align-content: center;
    width: 350px;
    float: left;
    padding-left: 30px;
}



body{
    background-color: #80cbc4;
    color: #004d40;
}

div#instructions{

    padding-bottom: 10px;
}

div.wrap {
    height: 400px;
}

#loginLink{
    color: #004d40;
}

#startLink{
    color:#004d40;
}

#loginLink:hover{
    color: #009688;
    cursor: pointer;
}

#startLink:hover{
    color:#009688;
    cursor: pointer;
}

/*div#login.col.s2.controls{*/
    /*width: 130px;*/
    /*margin: 50px;*/
    /*padding-left: 50px;*/
/*}*/

